
## ENV setting file
## 0.0.0.0 :  change to sepecific ip

# ANOMA
ANOMA_IP=0.0.0.0

# PUSH_GATE_WAY
PUSH_GATE_WAY_URI=http://0.0.0.0:6074
PUSH_GATE_WAY_IP=0.0.0.0:6074
PUSH_GATE_WAY_PORT=6074

# PROMETHEUS
PROMETHEUS_URI=http://0.0.0.0:6075
PROMETHEUS_IP=0.0.0.0:6075
PROMETHEUS_PORT=6075

# ANOMA
ANOMA_PAD_IP=0.0.0.0:6077
ANOMA_PAD_PORT=6077
ANOMA_TESTING_IP=0.0.0.0:6073
ANOMA_TESTING_PORT=6073

# INFLUX_DB
INFLUX_DB_PORT=6076
GRAFANA_PORT=6078
CHRONO_PORT=6079
INFLUX_DB_URI=http://0.0.0.0:6076
GRAFANA_URI=http://0.0.0.0:6078
CHRONO_URI=http://0.0.0.0:6079

INFLUX_DB_USER_NAME=root
INFLUX_DB_PASSWORD=root


# MLFLOW
## MySQL 

MYSQL_ROOT_PASSWORD=efcodd
HOST_MYSQL_PORT=6072
MYSQL_URI=http://0.0.0.0:6072
HOST_MYSQL_DATA_DIR=$PWD/mlflow_docker/mysql
## MLflow tracking server

HOST_MLFLOW_PORT=6071
MLFLOW_URI=http://0.0.0.0:6071
MLFLOW_ARTIFACT_URI=$PWD/mlflow_docker/mlflow_server
